.wrapper {
	max-width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
	font-size: 16px;
	background-color: #eeeeee;
	width: 100%;
}
.header__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}
.header__item {
	text-decoration: none;
	color: black;
}
.header__list {
	display: flex;
	}
.header__list li {
	list-style: none;
	text-decoration-style: none;
	margin: 0 22px;
}
.hero {
	display: flex;
	justify-content: space-between;
}

.hero__slogan {
	font-size: 55px;
}
.hero__button {
	color: whitesmoke;
	background-color: red;
	text-transform: uppercase;
}
.features {
	display: flex;
	justify-content: space-between;
	background-color: white;
}
.sites-button {
	background-color: red;
}
.apps-button {
	background-color: green;
}
.presentation-button {
	background-color: yellow;
}
.features__subtitle{
	text-transform: uppercase;
}
.description {
	display: flex;
	background-color: white;
}
.orderlist {
	list-style: none;
}