@font-face {
	font-family: 'Roboto';
	/* font-style: normal;
	font-weight: 500; */
	src: url("/fonts/web/roboto.woff");
}


*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto', 'OpenSans', 'sans-serif';

}


.wrapper {
	max-width: 1160px;
	padding:0 20px;
	margin: 0 auto;
	font-size: 16px;
	width: 100%;
}

.button {
	padding: 20px 40px;
	border: none;
	background-color: #fb565a;
	color: #ffffff;
	text-transform: uppercase;
}

.header {
	background-color: #eeeeee;
	}
.header__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	padding-bottom: ;
	text-transform: uppercase;
}
.header__item {
	text-decoration: none;
	color: black;
}
.header__list {
	display: flex;
	}
.header__list li {
	list-style: none;
	text-decoration-style: none;
	margin: 0 22px;
}
.header-cart {
	margin-right: 20px;
}

.hero {
	display: flex;
	justify-content: space-between;
	background-color: #eeeeee;
}
.somediv {

}
.hero__container {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	padding: 0;
	margin: 0;
}
.hero__slogan--started {
	font-size: 55px;
	margin-bottom: 30px;
	padding: 0;
}
.hero__slogan--smallsubtitle {
	font-family: 'roboto';
	src: url("/fonts/web/robotomedi.woff");
	font-size: 45px;
	margin-bottom: 35px;
	margin-top: 35px;
}
.image-slider {
	padding: 0;
}
.hero__text {
	margin-top: 23px;
	margin-bottom: 40px;
	font-size: 16px;
	color: #283136;

}
.hero__button {
	color: whitesmoke;
	background-color: #fb565a;
	text-transform: uppercase;
	padding: 15px 20px;
}

.features {
	display: flex;
	justify-content: space-between;
	align-content: center;
	background-color: #ffffff;
}
.hero__button--red{
	background-color: #fb565a;
}
.hero__button--green {
	background-color: #00ca74;
}
.hero__button--yellow {
	background-color: #efc84a;
}
.features__subtitle{
	text-transform: uppercase;
}

.orderlist {
	list-style: none;
}
.description {
	display: flex;
	background-color: white;
	justify-content: center;
}
.description__logo {
	margin-top: 20px;
}
.features {
	margin: 80px auto;
}
.description {
	margin: 2px auto;
	border-top: 2px #eeeeee solid;
}
.features__subtitle {
	margin-top: 30px;
}
.discription__container {
	margin-top: 40px;
	padding: 0;
}
.description {
	display: flex;
	justify-content: space-between;
	
}
.description__text {
	margin-bottom: 50px;
}
.description__order-list, {
	
}
.description__order-list--subtitle {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
}
.description__item {
	margin-bottom: 25px;
}


.description__item li ::before {
	content: *--*;
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}
.description__statistic {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-around;
	margin-top: 20px;
}
.description__subtitle {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 0;
}
.description__items--subtitle {
	font-size: 45px;
	font-weight: bold;
	padding-left: 5px;
}
.description__items--plus {
	display: block;
	padding: 10px 10px 0 5px;
	font-size: 16px;
	font-weight: normal;
}
.results {
	display: flex;
	margin: 0 auto;
	padding: -20px 0;
	justify-content: space-between;
	align-items: flex-start;
	}
.upindex {
	font-size: 20px;
	vertical-align: super;
}
.friendship {
	margin: 2px auto;
	border-top: 2px #eeeeee solid;
	border-bottom: 2px #eeeeee solid;
	width: 1100px;
	padding: 45px 0;
}
.friendship__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	padding-top: 0px;
	background-color: #ffffff;
}
.friendship__links--academy {
	border-right: 2px #cccccc solid;
	padding: 0 50px 0 0;
	height: 33%;
}